{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<h3>Level</h3>

{{if .IsAdmin}}
<div class="btn-group">
  <form action="/admin/levels/{{.Data.ID}}:delete" method="post">
    <a href="/admin/levels/{{.Data.ID}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      <span>Edit level</span>
    </a>
    <button class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      <span>Delete level</span>
    </button>
  </form>
</div>
{{end}}

{{with .Data}}
<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4>{{.ID}} <small class="utcdate">{{.UpdateTime}}</small></h4>
    <p>Title: {{.Title}}</p>
    <p>Description: {{.Description}}</p>
    <p>Data: {{.Data}}</p>
  </div>
</div>
{{end}}
